<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: record, local: true) do |f| %>
    
      <% if record.errors.any? %>
      　<div id="error_explanation" class="alert alert-warning">
          <ul>
            <% record.errors.full_messages.each do |rcd| %>
              <li><%= rcd %></li>
            <% end %>
        　</ul>
        </div>
    　<% end %>
    　
    　<div class="form-group">
    　  <%= f.label :material, "教材" %>
    　  <%= f.text_field :material, class: 'form-control' %>
      </div>
      
      <div class="form-group">
    　  <%= f.label :study_time, '勉強時間(分)' %>
    　  <%= f.text_field :study_time, class: 'form-control' %>
      </div>
      
      <div class="form-group">
    　  <%= f.label :memo, "メモ" %>
    　  <%= f.text_area :memo, class: 'form-control', rows:4 %>
      </div>
      
      <%= f.submit '入力', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>